{
  "major": {
    "webhook_url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
    "nations": ["Nation1", "Nation2", "Nation3"],
    "user_agent": "YourMainNation",
    "schedule": "0 * * * *",
    "mention": "<@&ROLE_ID>",
    "no_ping": false,
    "check_snapshot": false,
    "snapshot_path": "./snapshot/snapshot.json",
    "debug_mode": false,
    "filter_holding_items": true,
    "holding_item_threshold_bid": 0.01,
    "holding_item_multiplier": 10,
    "holding_item_age_hours_bid": 24,
    "holding_item_age_hours_ask": 336
  },
  "minor": {
    "webhook_url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
    "nations": ["Nation1", "Nation2", "Nation3"],
    "user_agent": "YourMainNation",
    "schedule": "10,20,30,40,50 * * * *",
    "no_ping": true,
    "check_snapshot": true,
    "snapshot_path": "./snapshot/snapshot.json",
    "debug_mode": false,
    "filter_holding_items": true,
    "holding_item_threshold_bid": 0.01,
    "holding_item_multiplier": 10,
    "holding_item_age_hours_bid": 24,
    "holding_item_age_hours_ask": 336
  }
}
